<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUDDYBUILD_APP_ID</key>
	<string>573935866a416901003a6a2b</string>
	<key>BUDDYBUILD_BUILD_ID</key>
	<string>573a0faacdaad60100d71ab0</string>
	<key>BUDDYBUILD_BUILD_NUMBER</key>
	<string>10</string>
	<key>BUDDYBUILD_ENDPOINT</key>
	<string>https%3A%2F%2Fdashboard.buddybuild.com</string>
	<key>BUDDYBUILD_ENVIRONMENT</key>
	<string>alpha</string>
	<key>BUDDYBUILD_SCHEME</key>
	<string>TimeTracker</string>
	<key>BUDDYBUILD_SETTING_ENABLE_CRASH_REPORTING</key>
	<true/>
	<key>BUDDYBUILD_SETTING_ENABLE_LOCAL_LOGGING</key>
	<false/>
	<key>BUDDYBUILD_SETTING_ENABLE_NSLOG_CAPTURE</key>
	<true/>
	<key>BUDDYBUILD_SETTING_ENABLE_SCREENSHOT_INTERCEPTION</key>
	<true/>
	<key>BUDDYBUILD_SETTING_ENABLE_SCREENSHOT_TUTORIAL</key>
	<true/>
	<key>BUDDYBUILD_SETTING_ENABLE_SESSION_TRACKING</key>
	<true/>
	<key>BUDDYBUILD_SETTING_ENABLE_VERSION_CHECKING</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
